.carrousel {
    /* display: hidden/absolute, pas animables VS prop position */
    position: absolute;
    left: 25vw;
    top: 25vh;
    width: 50vw;
    height: 50vh;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    background-color: white;
    z-index: 1;
  }
  
  .carrousel--ouvrir {
    transform: scale(1);
    opacity: 1;
  }
  
  .carrousel__figure {
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    width : 100%;
    height : 100%;
  }
  
  .carrousel__figure__img{
    display : block;
    position:absolute;
    object-fit:contain;
    width : 100%;
    height : 100%;
    opacity: 0;
    transition: opacity .5s;
  }

  .carrousel__figure__img--activer {
    opacity: 1;
  }
  
  .carrousel__form{
    display: flex;
    position:absolute;
    bottom: 0;
    text-align: center;
  }
  
  .carrousel__form__rad{
    z-index: 2;
  }

  .carrousel__x{
    position: absolute;
    right: 0;
    height: 47px;
    border-radius: 7px;
    background: black;
    color: white;
    z-index: 2;
  }   